// Main styling variables

// FONT STYLES
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);

// COLOUR PALETTE
$whiteSmoke 	: 	#ECECEC;
$porcelain		:	#ECF0F1;
$dark 			: 	#1C1C1C;
$creamCan		: 	#F5D76E;
$wisteriaPurple : 	#9B59B6;
$studioPurple	:	#8E44AD;
$silver			:	#BDC3C7;

// Font variables

$logoFont		:	'Lobster', 'Helvetica Neue', Helvetica, sans-serif;
$mainFont		:	'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
$imgFont		:	'Pathway Gothic One', 'Helvetica Neue', Helvetica, sans-serif;

$thin 		: 300;
$normal 	: 400;	
$bold 		: 600;
$heavy 		: 700;

