header {
	margin: 0;
	display: table;
	width: 100%;
	border-bottom: 5px solid $darkenSteel;
	height: 250px;
	background: $steelBlue;
	//@include backImage('../images/head-01.svg', 43vh, cover);

	.hgroup {
		margin: 0;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding-bottom: 20px;
		h1, h2 {
			line-height: 105%;
			margin-bottom: 0;
			padding: 0;
		}
		h1 {
			font-size: 5em;
			color: $porcelain;
			font-family: $logoFont;

		} //h1
		h2 {
			color: $creamCan;
			font-family: $imgFont;
			font-size: 3em;
		} //h2

		p {
			color: $creamCan;
			font-family: $imgFont;
			font-size: 1.5em;
			padding: 0 10%;
			margin-top: 0;
			a {
				color: $creamCan;
				text-decoration: none;
				border-bottom: 2px solid $creamCan;
				@include transition(all .3s ease-in-out);
				&:hover {
					border-bottom-color: $silver;
				} //hover
			} //a
		} //p
	} //hgroup
} //header