/* LARGE */

.lr-1-5 {
    width: 91.1875%;
    float: left;
    margin-right: -100%;
    padding-left: 1%;
    padding-right: 1%;
    @include gs-pad(lr, padinfull);
    clear: left;  
}

.lr-2-3 {
    width: 39.5547%;
    margin-left: 6.957%;
    float: left;
    margin-right: -100%;
    padding-left: 1%;
    padding-right: 1%;
    @include gs-pad(lr, padinfull);
    clear: left;
}

.lr-2-5 {
	width: 84.2305%;
  	margin-left: 6.957%;
  	float: left;
  	margin-right: -100%;
  	padding-left: 1%;
  	padding-right: 1%;
  	@include gs-pad(lr, padinfull);
  	clear: left; 	
}

.lr-1-3 {
	width: 49.7539%;
  	float: left;
  	margin-right: -100%;
  	padding-left: 1%;
  	padding-right: 1%;
  	@include gs-pad(lr, padinfull);
  	clear: right;
}

.lr-3-4 {
  width: 41.6152%;
  margin-left: 28.8555%;
  float: left;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  @include gs-pad(lr, padinfull);
  clear: left;
}

.lr-3-5 {
	width: 62.332%;
  	margin-left: 28.8555%;
  	float: left;
  	margin-right: -100%;
  	padding-left: 1%;
  	padding-right: 1%;
  	@include gs-pad(lr, padinfull);
  	clear: left;
}

.lr-4-5 {
	width: 40.4336%;
  	margin-left: 50.7539%;
  	float: left;
  	margin-right: -100%;
  	padding-left: 1%;
  	padding-right: 1%;
  	@include gs-pad(lr, padinfull);
  	//clear: left;
}

/* MEDIUM */


@include breakpoint(med) {
    .md {
      width: 100%;
      float: left;
      clear: left;
  } 
}


/* SMALL */