main {
	padding: 0;
	margin: 0;
	#container {
		margin: 0;
		padding: 0;
		@include clearfix;
		.grid {
			.page-title {
				display: block;
				font-size: 3.5em;
				@include gs-span(lr, 2, 5);
					span {
					display: block;
					font-size: .3em;
					line-height: 1em;
					padding-bottom: 15px;
					@include gs-span(lr, 2, 6);
					text-transform: uppercase;
					clear: left;
				} //page-title.span
			} //page-title

			.introSection {
				@include gs-span(lr, 3, 4);
				clear: left;
				@include breakpoint(med_lrg) {
					@include gs-span(md, 2, 5);
				} //breapoint(medium_large)
				@include breakpoint(med) {
					@include gs-span(md, 2, 5);
				} //breakpoint(medium)
			} //introSection

			.c_2col {
				@include gs-span(lr, 1, 6);
				clear: left;
				margin-bottom: 15px;
				margin-top: 15px;
				border-bottom: 3px solid lighten($dark, 40%);
				.contentIndex {
					@include gs-span(lr, 2, 2);
					@include breakpoint(med_lrg) {
						@include gs-span(md, 2, 5);
					}
					@include breakpoint(med) {
						@include gs-span(md, 2, 5);
					}
					.docH2 {
						font-size: 3.3em;
						margin-bottom: 5px;
						line-height: 1.2em;
						@include breakpoint(med_lrg) {
							// border-top: 2px solid lighten($dark, 40%);
							margin-top: 25px;
							padding-top: 10px;
						}
						@include breakpoint(med) {
							// border-top: 2px solid lighten($dark, 40%);
							margin-top: 25px;
							padding-top: 10px;
						}
					}//docH2

					.indexMenu {
						margin: 0;
						padding: 0;
						list-style-type: none;
						margin-bottom: 10%;
						li {
							margin: 0;
							padding: 0;
							a {
								display: block;
								text-decoration: none;
								text-transform: uppercase;
								font-weight: $bold;
								color: lighten($dark, 15%);
								padding: 20px;
								border-bottom: 1px dotted lighten($dark, 40%);
								&:hover {
									background: lighten($dark, 15%);
									cursor: pointer;
									color: $whiteSmoke;
								}//indexMenu.a:hover
							} //indexMenu.a
							@include breakpoint(sml) {
								text-align: center;
							}//breakpoint(small)
							.activeIndex {
								background: lighten($steelBlue, 5%);
								color: $whiteSmoke;
								@include breakpoint(wide) {
									text-align: right;
								}//breakpoint(wide)
								@include breakpoint(lrg) {
									text-align: right;
								}//breakpoint(large)
								@include breakpoint(med_lrg) {
									text-align: center;
								}//breakpoint(large)
								@include breakpoint(med) {
									text-align: center;
								}//breakpoint(med)
							}//activeIndex
						} //indexMenu.li
					} //indexMenu		 
				} //contentIndex

				.contentFill {
					@include gs-span(lr, 3, 4);
					border-left: 1px dashed lighten($dark, 50%);
					padding: 0;
					@include breakpoint(med_lrg) {
						@include gs-span(md, 2, 5);
						clear: left;
					}
					@include breakpoint(med) {
						@include gs-span(md, 2, 5);
						clear: left;
					}
					h2, p {
						padding: 5px 35px;
					} //contentFill.h2,p
					h2 {
						font-size: 3.2em;
						line-height: 1.2em;
						margin-bottom: 7%;
						font: 100%;
						font-weight: $bold;
					} //contentFill.h2
					p {
						font-size: 1.2em;
						letter-spacing: 0.02em;
						line-height: 1.2em;
					} //contentFill.p
				} //contentFill
			}	//c_2col
				
				
			@include gs-media(lr, min) {
				.sidebar {
					margin: 0;
					padding: 0;
					.sidemenu {
						border-bottom: 3px solid lighten($silver, 10%);
						@include gs-span(lr, 2, 4);
						clear: left;
						margin-bottom: 2%;
						li {
							float: left;
							display: inline;
							border-right: 1px solid lighten($silver, 10%);
							a {
								display: block;
								font-size: 1em;
								text-decoration: none;
								color: darken($silver, 50%);
								text-align: center;
								padding: 15px;
								@include transition(all .3s ease-in-out);
								&:hover {
									background: lighten($silver, 10%);
									color: darken($silver, 50%);
								}
								&.curr {
									background: lighten($silver, 10%);
								}
							} //a
						} //li
					} //sidemenu
				} //sidebar

			} //gs-media large
			@include breakpoint(sml) {
				.sml {
					padding-left: 1%;
					padding-right: 1%;
					@include gs-pad(s, padinfull);
					margin: 0;
					width: 100%;
		  		float: left;
		  		clear: left;
				} //sml
			} //.s-all
		} //grid
		.item {
			margin: 0;
			padding-bottom: 25px;
			@include clearfix;
			img {
				border-radius: 100%;
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 150px;
			}//img
		}//item
		p {
			letter-spacing: 0.05em;
			line-height: 1.2em;
		}
	} //container
} //main