main {
	padding: 0;
	margin: 0;
	#container {
		margin: 0;
		padding: 0;
		@include clearfix;
		.grid {
			.page-title {
				display: block;
				font-size: 3.5em;
				@include gs-span(lr, 2, 5);
					span {
					display: block;
					font-size: .3em;
					line-height: 1em;
					padding-bottom: 15px;
					@include gs-span(lr, 2, 6);
					text-transform: uppercase;
					clear: left;
				}
			} //page-title
			
			@include gs-media(lr, min) {
				.lr-2-3 {
					width: 39.5547%;
					margin-left: 6.957%;
					float: left;
					margin-right: -100%;
					padding-left: 1%;
					padding-right: 1%;
					@include gs-pad(lr, padinfull);
					clear: left;
				} //lr2-lr3
				.lr-4-5 {
					width: 43.6758%;
					margin-left: 47.5117%;
					float: left;
					margin-right: -100%;
					padding-left: 1%;
					padding-right: 1%;
					@include gs-pad(lr, padinfull);
					clear: right;
				} //lr4-lr5

				.sidebar {
					margin: 0;
					padding: 0;
					.sidemenu {
						border-bottom: 3px solid lighten($silver, 10%);
						@include gs-span(lr, 2, 4);
						clear: left;
						margin-bottom: 2%;
						li {
							float: left;
							display: inline;
							border-right: 1px solid lighten($silver, 10%);
							a {
								display: block;
								font-size: 1em;
								text-decoration: none;
								color: darken($silver, 50%);
								text-align: center;
								padding: 15px;
								@include transition(all .3s ease-in-out);
								&:hover {
									background: lighten($silver, 10%);
									color: darken($silver, 50%);
								}
								&.curr {
									background: lighten($silver, 10%);
								}
							} //a
						} //li
					} //sidemenu
				} //sidenav
			} //gs-media large
			@include breakpoint(sml) {
				.sml {
					padding-left: 1%;
					padding-right: 1%;
					@include gs-pad(s, padinfull);
					margin: 0;
					width: 100%;
		  			float: left;
		  			clear: left;
				} //sml
			} //.s-all
		} //grid
		.item {
			margin: 0;
			padding-bottom: 25px;
			@include clearfix;
			img {
				border-radius: 100%;
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 150px;
			}//img
		}//item
		p {
			letter-spacing: 0.05em;
			line-height: 1.2em;
		}
	} //container
} //main