#menu {
	margin: 0;
	padding: 0;
	position: absolute;
	//background: $navBG;
	ul {
		width: 100%;
		display: table;
		padding: 10px;
		.drop {
			position: relative;
			&:after {
				content: '\02C5';
				display: block;
				color: $whiteSmoke;
				font-size: .9em;
				position: absolute;
				top: 21px;
				left: 92%;
			}
		}
		li {
			float: left;
			a {
				padding: 15px;
				text-decoration: none;
				color: $whiteSmoke;
				font-family: $mainFont;
				font-weight: $bold;
				font-size: 1em;
				float: left;
				border-top: 3px solid $whiteSmoke;
				@include transition(all .3s ease-in-out);
				&:hover {
					//background: $wisteria;
					border-top-color: $wisteria;
				} // &:hover
			} //a
			
		} //li
		.drop-full {
			position: absolute;
			top: 100%;
			display: none;
			padding: 0;
			
		} //drop-full
		.drop:hover {
			.drop-full {	
				display: table;
				background: inherit;
				li {
					float: none;
					display: inline;
					a {
						padding: 15px;
						background: $porcelain;
						color: $dark;
						width: 100%;
						text-align: left;
						font-size: .9em;
						&:hover {
							background: $studio;
							color: $porcelain;
						} //&:hover
					} //a.2
				} //li.2
			} //.drop-full
		}//.drop:hover
	} //ul
} //#menu

